/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
 font-family: 'Montserrat', ;
 font-family: 'Source Sans Pro', ;
*/


body {
          
    background-color: #bdc3c7;
    margin: 20px 10%;
    
}

.profil {
    width: 250px;
    position: relative;
    background-color: #31363b;
    box-shadow: 2px 4px 10px #31363b;
}

.foto {
    width: 250px;
}

.logo {
    position: absolute;
    left: 175px;
    top: 140px;
    background-color:#b92e81;
    border-radius: 50%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.55);
}

.obsah {
    padding: 10px 20px;
}

h1 {
    color: white;
    font-family: Montserrat;
    font-size: 24px;
}

p {
    color: #bdc3c7;
    font-family: Source Sans Pro;
    font-size: 14px;
}

.odkazy {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-top: 0.5px solid #bdc3c75d;
}

.odkazy li {
    border-top: 0.5px solid #bdc3c75d;
    align-content: center;
}

.portfolio {
    text-align: center;
    display: inline-block;
    width: 100%;
    
}

.facebook, .twitter {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.twitter {
    text-align: center;
    border-left: 0.5px solid #bdc3c75d;
}



.odkazy a {
	display: block;
	padding: 10px 25px;
	color: #bdc3c7;
    text-decoration: none;
    font-weight: bold;
}

.portfolio a:hover {
    background-color: #e74c3c;
    color: white;
}
.facebook a:hover {
    background-color: #3b5998;
    color: white;
}
.twitter a:hover {
    background-color: #1da1f2;
    color: white;
}


